In [1]:
import pandas as pd 

df = pd.read_csv("car_ownership.csv")
df.head()

   monthly_salary  owns_car
0           22000         0
1           25000         0
2           47000         1
3           52000         0
4           46000         1

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X = df[['monthly_salary']]
y = df[['owns_car']]

X_train , X_test , y_train , y_test = train_test_split(X, y , test_size= 0.3, random_state= 42)

model = LogisticRegression()
model.fit(X_train , y_train)
model.score(X_test , y_test)

C:\Users\saisa\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8888888888888888

In [5]:
model.coef_ , model.intercept_

(array([[0.00013621]]), array([-5.39725076]))

In [6]:
import math 
def sigmoid(x):
    return 1 / (1 + math.exp(-x))

In [18]:
def prediction(salary , model):
    z = model.coef_*salary + model.intercept_
    y = sigmoid(z)
    return y

In [21]:
prediction(62000, model)

C:\Users\saisa\AppData\Local\Temp\ipykernel_17316\2532224517.py:3: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return 1 / (1 + math.exp(-x))

0.954690678813166

In [27]:
y_pred = model.predict(X_test)
y_pred

array([1, 0, 1, 0, 0, 0, 0, 1, 0])

In [29]:
from sklearn.metrics import classification_report

report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.83      1.00      0.91         5
           1       1.00      0.75      0.86         4

    accuracy                           0.89         9
   macro avg       0.92      0.88      0.88         9
weighted avg       0.91      0.89      0.89         9